{% extends "layout.html" %}

   {% block content%}
      <form action = "http://localhost:5000/uploader" method = "POST" name="resume_filter"  enctype = "multipart/form-data">
         <div class="form-group" style="padding-top: 2%;">
               <label>Enter your job description here: </label><br>
               <textarea rows="4" cols="50" name="jobdesc" id="jobdesc"></textarea>
         </div>
         <div class="form-group">
               <label>Enter the number of resumes to rank: </label><br>
               <input style="width: 100px;" type= "number" min=1 max=20 name="rank" id="rank"/>
         </div>
         <div class="form-group">
               <label>Upload the File here: </label><br>
               <input type = "file" name = "zipfile" id="zipfile"/>
         </div>
         <div class="form-group">
               <input type = "submit" class="btn btn-outline-info"/>
         </div>
      </form>
   {% endblock content %}
      