<html>
   <head>
      <title>Upload the resumes here</title>
      <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   </head>
   <body>
      <div class="container">
      <form action = "http://localhost:5000/uploader" method = "POST" 
         enctype = "multipart/form-data">
         <div class="form-group" style="padding-top: 2%;">
               <label>Enter your job description here: </label><br>
               <textarea rows="4" cols="50" name="jobdesc" id="jobdesc"></textarea>
         </div>
         <div class="form-group">
               <label>Enter the number of resumes to rank: </label><br>
               <input style="width: 100px;" type= "number" min=1 max=20 name="rank" id="rank"/>
         </div>
         <div class="form-group">
               <label>Upload the File here: </label><br>
               <input type = "file" name = "zipfile" id="zipfile"/>
         </div>
         <div class="form-group">
               <input type = "submit" class="btn btn-outline-info"/>
         </div>
         
      </form>
      </div>
   </body>
</html>